.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/*.gz
data/*.md5
data/md5*
data/genomic_data/*
output/plots/*
output/bam_files/*
output/filtered_peaks/*
output/logs/*
output/peaks/*
output/annotations/*
